{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}
  Add Classroom
{% endblock %}

 {% block breadcrumbs %}
     <li class="active"><a >Classrooms </a></li>
 {% endblock %}


{% block menu_classroom_class %}active{% endblock %}

{% block content %}
 <!--room details-->

<div class="panel panel-flat animated fadeIn" id="vue-app">
    <div class="panel-body">
        <div class="row">
           <div id="room">
           </div>
        </div>
    </div>
</div>
<!--./room details-->
{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="{% static 'js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.bootstrap-select').selectpicker();
  });
</script>
<script>

    var addUrl = "{% url 'site:api-update-sms' pk=1 %}";
    // alertUser
    function alertUser(msg,status='bg-success',header='Well done!')
    { $.jGrowl(msg,{header: header,theme: status}); }
</script>
{% render_bundle 'room' 'js' %}
{% endblock %}