{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}
    {% if object.id %}
        Edit Class
    {% else %}
       Add Class
    {% endif %}
{% endblock %}

 {% block breadcrumbs %}
     <li class="active"><a href="{% url 'classes:index' %}" >class</a></li>
    {% if object.id %}
        <li class="active"><a href="{% url 'classes:update' pk=object.id %}" >update {{object.name}}</a></li>
    {% else %}
       <li class="active"><a href="{% url 'classes:add' %}" >add class</a></li>
    {% endif %}
 {% endblock %}


{% block menu_classes_class %}active{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
<link rel="stylesheet" href="{% static 'js/plugins/react/react-datepicker.min.css">
{% endblock %}
{% block content %}

<div class="panel panel-flat animated fadeIn" id="vue-app">
    <div class="panel-body">
        <div class="row">
           <form enc-type="multipart/form-data" id="addForm">
               {% csrf_token %}
              <div class="col-md-12">
               <div class="col-md-4">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-7">
                                <label class="text-bold">Class Name:<span class="text-danger">*</span></label>
                                <input value="{% if object.name %} {{object.name}} {% endif %}"
                                       class="form-control" name="name" id="name" placeholder="Name" type="text"/>
                            </div>
                            <div class="col-md-5">
                                <label class="text-bold">Class Group:<span class="text-danger">*</span></label>
                                <input value="{% if object.class_group %}{{object.class_group}}{% endif %}"
                                       class="form-control" name="class_group" id="class_group" placeholder="e.g 1 if class 1" type="text"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                            <label class="text-bold">Stream Name:<span class="text-danger">*</span></label>
                                <select name="stream" id="stream" class="bootstrap-select" style="display:none">
                                    <option value="">select stream</option>
                                    {% if object.stream.name %}
                                    <option value="{{object.stream.id}}" selected>{{object.stream.name}}</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=form-group">
                        <div class="row">
                            <div class="col-md-12">
                            <label class="text-bold">Academic Year:<span class="text-danger">*</span></label>
                                <select name="academic_year" id="academic_year" class="bootstrap-select" style="display:none" data-width="100%" tabIndex="-98">
                                    <option value="">select academic year</option>
                                    {% if object.academic_year.name %}
                                    <option value="{{object.academic_year.id}}" selected>{{object.academic_year.name}}</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                <div class="col-md-12">
               <div class="col-md-4">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="text-bold">Class Teacher:<span class="text-danger">*</span></label>
                                <select name="class_teacher" id="class_teacher" class="bootstrap-select" style="display:none">
                                    <option value="">select teacher</option>
                                    {% if object.class_teacher %}
                                    <option value="{{object.class_teacher.id}}" selected>{{object.class_teacher.fullname}}</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="text-bold">No of Students:<span class="text-danger">*</span></label>
                                <input value="{% if object.no_of_students %} {{object.no_of_students}} {% endif %}" class="form-control" name="no_of_students" id="no_of_students" placeholder="Name" type="text"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                            <label class="text-bold">Room:<span class="text-danger">*</span></label>
                                <select name="room" class="bootstrap-select" id="room" style="display:none" data-width="100%" tabIndex="-98">
                                    <option value="">select room</option>
                                    {% if object.room.name %}
                                    <option value="{{object.room.id}}" selected>{{object.room.name}}</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                <div class="text-left col-md-12">
                    <button id="add-room-btn" type="submit" class="btn btn-primary legitRipple">
                        {% if object.id %} Update {% else %} Add {% endif %}
                        <i class="icon-arrow-right14 position-right"></i>
                    </button>
                </div>
              </form>
        </div>
    </div>
</div>

{% if object.id %}
    <input type="hidden" id="postUrl" value="{% url 'classes:api-update' pk=object.pk %}">
    <input type="hidden" id="postMethod" value="PUT">
    <input type="hidden" id="pk" value="{{object.pk}}">
{% else %}
    <input type="hidden" id="postUrl" value="{% url 'classes:api-create' %}">
    <input type="hidden" id="postMethod" value="POST">
    <input type="hidden" id="pk" value="none">
{% endif %}

<!-- to populate select elements -->
<input type="hidden" id="redirectUrl" value="{% url 'classes:index' %}">
<input type="hidden" id="streamUrl" value="{% url 'stream:api-list' %}">
<input type="hidden" id="roomUrl" value="{% url 'room:api-list-rooms' %}">
<input type="hidden" id="academicYearUrl" value="{% url 'academic_year:api-list' %}">
<input type="hidden" id="teachersrUrl" value="{% url 'users:api-list-teachers' %}">
<input type="hidden" id="csrftoken" value="{{ csrf_token }}">
{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="{% static 'js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/core/libraries/jquery.validate.min.js' %} "></script>
<script type="text/javascript" src="{% static 'js/academics/classes/add.js' %}"></script>
{% endblock %}