<!--modal -->
 <div id="subject_modal_instance" class="modal fade">
   <div class="modal-dialog modal-sm">
     <div class="modal-content">
       <div class="modal-header bg-blue">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h6 class="modal-title text-white text-center"></h6>
       </div>
       <form action="" class="subjectForm" method="post" id="subjectForm" novalidate>
           <div class="modal-body">
            {% csrf_token %}
                 <div class="form-group">
                     <label class="cat_label"> </label>
                     <input class="form-control edit_class" name=""/>
                 </div>
                  <input type="hidden" class="eitem-url"/>
                  <input type="hidden" class="eitem-select"/>
           </div>

           <div class="modal-footer">
               <button class="btn btn-primary waves-effect waves-light pull-right data_update"
                       id='modal_edit' type="submit">
                   Create
                   <i class="icon-arrow-right14 position-right"></i>
               </button>

             <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
           </div>

       </form>
     </div>
   </div>
 </div>
 <!-- /modal -->