{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}
 {% if object.name %}
   Edit {{object.name}}
  {% else %}
    Add Term
  {% endif %}
{% endblock %}

 {% block breadcrumbs %}
     <li class=""><a href="{% url 'term:index' %}" >Term </a></li>
    <li class="active"><a >
         {% if object.name %}
           Edit {{object.name}}
         {% else %}
            Add term
         {% endif %}
     </a></li>

 {% endblock %}


{% block menu_classroom_class %}active{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">

<link rel="stylesheet" href="{% static 'js/plugins/react/react-datepicker.min.css">
{% endblock %}
{% block content %}
 <!--room details-->

<div class="panel panel-flat animated fadeIn" id="vue-app">
    <div class="panel-body">
        <div class="row">
           <div id="app-root">
           </div>
        </div>
    </div>
</div>
<!--./room details-->
{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="{% static 'js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/pickers/daterangepicker.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.bootstrap-select').selectpicker();
  });
</script>
<script>
var options = [
  { value: '1', label: 'One' },
  { value: '2', label: 'Two' }
];

function logChange(val) {
  console.log("Selected: " + val);
}
    {% if object.id %}
    var pk = "{{object.id}}";
    var updateUrl = "{% url 'term:api-update' pk=object.id %}";
    {% else %}
    var pk= false;
    {% endif %}
    var createUrl = "{% url 'term:api-create' %}";
    var redirectUrl = "{% url 'term:index' %}";
    // alertUser
    function alertUser(msg,status='bg-success',header='Well done!')
    { $.jGrowl(msg,{header: header,theme: status}); }
</script>
{% render_bundle 'term' 'js' %}
{% endblock %}