.tab{
    display: flex;
    
}
.tab-btn {
    padding:12px;
    border-bottom: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 .tab-active{    
    border-bottom: 0px;
    font-weight: 700;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 2px solid #EC407A;   
}