{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}
    {{object.subject.name | title}} Details
{% endblock %}

 {% block breadcrumbs %}
     <li class="actives"><a href="{% url 'exam_configuration:index' %}">Exam Configurations</a></li>
     <li class="active"><a href="{% url 'exam_configuration:detail' pk=object.id %}" >{{object.subject.name | title}} Details</a></li>
 {% endblock %}


{% block menu_curriculum_class %}active{% endblock %}

{% block custom_css %}
<style>
    .heading-divided {
        text-transform: uppercase;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
</style>
{% endblock %}
{% block content %}

<div class="panel panel-flat animated fadeIn" id="vue-app">
    <div class="panel-body">
        <div class="row">
            <div id="app-root">
                <h3 class="heading-divided text-center"> {{object.academicclass.name}} {{object.subject.name}}</h3>
                <h6>Total Marks {{object.total_marks}}</h6>
                <h6>Pass Marks {{object.pass_marks}}</h6>
                <h6>Percentage Calculation {{object.is_percentage}}</h6>
                <div class="col-md-12">
                <table class="table room-striped room-hover dataroom-header-footer" style="border-bottom:1px solid #ddd;">
                    <thead>
                      <tr class="bg-primary">
                          <th></th>
                        <th>Assignments</th>
                        <th>Cats</th>
                        <th>Exams</th>
                      </tr>
                    </thead>
                    <tbody id="tb">
                        <tr class="animated fadeIn" id="item.id">
                            <td class="td" data-url="item.detail_url">
                               {{ forloop.counter }}. {{i.name}}
                            </td>
                            <td class="td" data-url="item.detail_url">
                                {% for x in object.assignment.all %}
                                <li> Assignment {{ forloop.counter }} - {{x.marks}} </li>
                                {% endfor %}
                            </td>

                            <td class="td" data-url="item.detail_url">
                                <ul>
                                {% for x in object.cat.all %}
                                <li> CAT {{ forloop.counter }} - {{x.marks}} </li>
                                {% endfor %}
                                </ul>
                            </td>

                            <td class="td" data-url="item.detail_url">
                                <ul>
                                {% for x in object.exam.all %}
                                <li> Exam {{ forloop.counter }} - {{x.marks}} </li>
                                {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    </tbody>
               </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block custom_js %}

{% endblock %}