<div class="sidebar sidebar-main">
	<div class="sidebar-content">

		<!-- Main navigation -->
		<div class="sidebar-category sidebar-category-visible">
			<div class="category-content no-padding">
				<ul class="navigation navigation-main navigation-accordion">
					<!-- Main -->
					<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
					<li class=""><a href="#"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
					<!--/main-->
					<!--settings-->
					<li>
						<a href="#"><i class="icon-cogs"></i> <span>Settings</span></a>
						<ul>
							<li><a href="#">Institution Details</a></li>
							<li><a href="#academic/create">Academic Details</a></li>
							<li><a href="#import">Student Import</a></li>
							<li><a href="#employeeimport">Employee Import</a></li>
							<li><a href="#assignclass/create">Assign Courses</a></li>
							<li><a href="#users">Users</a></li>
							<li><a href="#application/admin">Applicant List</a></li>
							<li><a href="#onlineemployeedetails/admin">Employee Application</a></li>
							<li><a href="#studentcaste/create">Caste And Religion</a></li>
							<li><a href="#visitors/view/visitors">Visitors List</a></li>
						</ul>
					</li>
					<!--./settings-->
					<!--academic-->
					<li class="">
						<a href="#" class="has-ul active"><i class="icon-users4"></i><span>Academic</span></a>
						<ul class="hidden-ul" style="display: none;">
							<li class="">
								<a href="#" class="has-ul active">Course &amp; Batch</a>
								<ul class="hidden-ul" style="display: none;">
									<li><a href="#course/create">Course</a></li>
									<li><a href="#batch/create">Batch</a></li>
									<li><a href="#classteacherallocation/create">Class teacher Allocation</a></li>
								</ul>
							</li>
							<li class="">
								<a href="#" class="has-ul active">Subjects</a>
								<ul class="hidden-ul" style="display: none;">
									<li><a href="#subject/create">Subjects</a></li>
									<li><a href="#subject/assign/subject">Assign Subjects</a></li>
									<li><a href="#subject/allocation/create">Subject Allocation</a></li>
									<li><a href="#subject/elective/subjects">Elective Subject</a></li>
									<li><a href="#subject/allocation/import">Subject Allocation Import</a></li>
								</ul>
							</li>
							<li>
								<a href="#" class="has-ul">Lesson Planning</a>
								<ul class="hidden-ul" style="">
									<li><a href="#lesson/planning/create">Lesson Planning</a></li>
								</ul>
							</li>
							<li>
								<a href="#" class="has-ul">Time Table</a>
								<ul class="hidden-ul" style="">
									<!--<li><a href="room/create"></a></li>-->
									<li><a href="#timetable/create"> Set Time Table</a></li>
									<li><a href="#timetable/active">Active Timetable</a></li>
									<li><a href="#timetable/viewtimetable">View Batch Timetable</a></li>
									<li><a href="#timetable/viewteachertt">View Teacher Timetable</a></li>
									<li><a href="#timetable/proxy">Search Proxy</a></li>
									<li><a href="#timetable/workinghours">Teacher Working Hours</a></li>
									<li><a href="#timetable/timetableexport"> Time Table Export</a></li>
									<li><a href="#timetableimport">Time Table Import</a></li>
								</ul>
							</li>
							<li>
								<a href="#" class="has-ul">Exams</a>
								<ul class="hidden-ul" style="">
									<li><a href="#" class="has-ul">GPA</a>
										<ul class="hidden-ul">
											<li><a href="#term/create">Set Term</a></li>
											<li><a href="#exam/create">Create Exam</a></li>
											<li><a href="#gpaskills/create">GPA Skill</a></li>
											<li><a href="#gpaskillsmark/create">GPA Skill Mark </a></li>
											<li>
											<a href="#" class="has-ul">GPA Grade System</a>
											<ul class="hidden-ul">
												<li><a href="#gpagradeset/create">GPA Gradeset</a></li>
												<li><a href="#gradescale/create">Set Grade Scale</a></li>
												<li><a href="#gpagradesetmapping/create">Gradeset Mapping</a></li>
											</ul>
										</li>
											<li><a href="#subjectcreditpoint/create">Subject Credit Point</a></li>
											<li><a href="#totalmark/create">Total mark %</a></li>
											<li><a href="#assessment/create">Set Assessment</a></li>
											<li><a href="#setexam/create">Set Exam</a></li>
											<li><a href="#setmarklist/create">Set Mark List</a></li>
											<li><a href="#setmarklist/teachermarklist">Teacher Score Card</a></li>
											<li><a href="#setmarklist/boardsheet">Broad Sheet</a></li>
										<li><a href="#gpareportcardsettings/create">Report Card Settings</a></li>
											<li><a href="#setmarklist/reportcard">Generate Report Card</a></li>
											<li><a href="#gpamarkimport">GPA Mark Import</a></li>
											<li><a href="#gparemarks">Remarks Import</a></li>
										</ul>
									</li>
									<li><a href="#" class="has-ul">CCE</a>
										<ul class="hidden-ul">
											<li><a href="#" class="has-ul">Initial Settings</a>
												<ul class="hidden-ul">
													<li><a href="#ccecategory/create">CCE Category</a></li>
													<li><a href="#cceterm/create">CCE Assessment Terms</a></li>
													<li><a href="#cceassessment/create">CCE Assessment</a></li>
													<li><a href="#ccesubjectsub/create">CCE Subject Sub</a></li>
													<li><a href="#cceskills/create">CCE Skills</a></li>
												   <!-- <li><a href="cceindicators/create"></a></li>-->
													<li><a href="#ccegradeset/create">CCE Grade Set</a></li>
													<li><a href="#ccegrades/create">CCE Grades</a></li>
													<li><a href="#ccegradeskillmap/create">CCE Grade Skill Mapping</a></li>
													<!--<li><a href="cceindicators/courseindicator">CCE  </a></li>-->
													<li><a href="#ccereportcardsettings/create">CCE Report Card Settings</a></li>
													<li><a href="#cceassigngrade/create">CCE Grade Description Class 1-5</a></li>
												</ul>
											</li>
											<li><a href="#" class="has-ul">CCE Exam</a>
												<ul class="hidden-ul">
													<li><a href="#cceexamscheme/create">CCE Exam Scheme </a></li>
													<li><a href="#ccesetexam/create"> CCE Set Exam</a></li>
													<li><a href="#ccemarklist/create">CCE Scholastic Mark List</a></li>
													<li><a href="#ccecoscholasticmark/create">CCE Co-Scholastic Mark List</a></li>
													<li><a href="#ccemarklist/boardsheet">Broad Sheet</a></li>
													<li><a href="#ccemarklist/reportcard">Generate Report Card</a></li>
													<li><a href="#ccemarkimport">Cce Mark Import</a></li>
													<li><a href="#cceremarks">Remarks Import</a></li>

												</ul>
											</li>
										</ul>
									</li>
									<li><a href="#" class="has-ul">Exam Hall</a>
										<ul class="hidden-ul">
											<li><a href="#examhall/create"> Exam Hall</a></li>
											<li><a href="#seatarrangement/create">  Hall Arrangement</a></li>
											<li><a href="#invigilationduties/create">Invigilation Duties</a></li>
										</ul>
									</li>
									<li><a href="#" class="has-ul">Online Exam</a>
										<ul class="hidden-ul">
											<li><a href="#onlineexam/create"> New Online Exam</a></li>
											<li><a href="#onlineexam/view_exam"> View Exam Details</a></li>
											<li><a href="#onlineexamassign/evaluateexam"> Evaluate Exam</a></li>
											<li><a href="#onlineexamassign/viewresult1">View Exam Results</a></li>
										</ul>
									</li>
									<li><a href="unittest/create">Unit Test</a></li>
									<li><a href="#setmarklist/publishresult"> Settings</a></li>
								</ul>
							</li>
							<li>
								<a href="#" class="has-ul">Assignments &amp; Notes</a>
								<ul class="hidden-ul" style="">
									<li><a href="#assignment/create">Add Assignment</a></li>
									<li><a href="#note/create">Add Notes</a></li>
									<li><a href="#assignmentimport">Assignments Import</a></li>
								</ul>
							</li>
							<li>
								<a href="#" class="has-ul">Certifications</a>
								<ul class="hidden-ul" style="">
									<li><a href="#certificatetype/create">Certificate Type</a></li>
									<li><a href="#customcertificate/create">Custom Certificate</a></li>
									<li><a href="#generatecertificate/create">Generate Certificate</a></li>
								</ul>
							</li>
							<li>
								<a href="#" class="has-ul">Placements</a>
								<ul class="hidden-ul" style="">
									<li><a href="#placementcellmembers/create">Placement Cell Members</a></li>
									<li><a href="#placementvendors/create">Placement Vendors</a></li>
									<li><a href="#placementattendees/create">Attendees</a></li>
									<li><a href="#placeddetails/create">Placed Details</a></li>
								</ul>
							</li>
							<li>
								<a href="#" class="has-ul">Promotion &amp; Alumni</a>
								<ul class="hidden-ul" style="">
									<li><a href="#student/promotion">Promotion &amp; Alumni</a></li>
									<li><a href="#student/alumnimembers">Alumni Members</a></li>
									<!--<li><a href="student/cleardata">Data Reset</a></li>-->
								</ul>
							</li>
							<li>
								<a href="#" class="has-ul">Occurrence</a>
								<ul class="hidden-ul" style="">
									<li><a href="#occurance/create">Occurrence Register </a></li>
								</ul>
							</li>
							<li>
								<a href="#" class="has-ul">Circular</a>
								<ul class="hidden-ul" style="">
									<li><a href="#create">Circular</a></li>
								</ul>
							</li>

						</ul>
					</li>
					<!--/academic-->
					<!--hr-->
					<li class="">
						<a href="#" class="has-ul active"><i class="icon-eye"></i><span>HR/Payroll</span></a>
						<ul class="hidden-ul" style="display: none;">
							<!--<li><a href="employeemaster/adminusers">Admin Users</a></li>-->
							<li><a href="#" class="has-ul">Employee Management</a>
								<ul class="hidden-ul">
									<li><a href="#usertype/create">Add User Type</a></li>
									<li><a href="#department/create">Add Department</a></li>
									<li><a href="#designation/create">Add Designation</a></li>
									<li><a href="#employeedetails/create">Add Employee</a></li>
									<li><a href="#employeedetails/admin">Employee List</a></li>
									<li><a href="#bank/bankdetails/create">Add Bank Details</a></li>
									<li><a href="#employeedetails/reports">Print List</a> </li>
									<li><a href="#employeemaster/withdrawal">Withdrawal</a> </li>
								<li><a href="#employeeattendanceimport">Employee Attendance Import</a></li>
							   </ul>
							</li>
							<li><a href="#" class="has-ul">Payroll</a>
								<ul class="hidden-ul">
									<li><a href="#payheadmaster/create">Pay Head</a></li>
									<li><a href="#payabletype/create">Payment  Types</a></li>
									<!--<li><a href="#leaveallowed/create">Allowed Leaves</a></li>-->
									<li><a href="#salarydetails/create">Salary Settings</a></li>
									<li><a href="#employeesalary/create">Employee Salary</a></li>
									<li><a href="#employeesalary/generatepayslip">Generate Pay Slip</a></li>
									<li><a href="#employeesalary/salaryreport">Salary Statement</a></li>
								</ul>
							</li>

							<!--<li><a href="#">Working Days</a></li>-->
							<li><a href="#" class="has-ul">Leave Management</a>
								<ul class="hidden-ul">
									<li><a href="#leavecategory/create">Leave Category</a></li>
									<li><a href="#leavedetails/create">Leave Details</a></li>
									<li><a href="#leaveapplication/create">Leave Application</a></li>
									<li><a href="#leaveapplication/approve">Leave Approvals</a></li>
								</ul>
							</li>
							<!--                            <li><a href="#">Attendance</a>
															<ul>-->
							<li><a href="#employeeattendance/create">Attendance</a></li>
							<!--                                    <li><a href="#">Attendance Report</a></li>
															</ul>
														</li>-->
						</ul>
					</li>
					<!--/hr-->
					<!--Student-->
					<li class="">
						<a href="#" class="has-ul active"><i class="icon-user"></i><span>Student</span></a>
						<ul class="hidden-ul" style="display: none;">
							<li><a href="#studentcategory/create">Student Category</a></li>
							<li><a href="#student/create">Student Admission</a></li>
							<li><a href="#student/admin">Student List</a></li>
							<li><a href="#studentabsent/create">Attendance</a></li>
							<li><a href="#batch/reports">Print List</a> </li>
							<li><a href="#student/guardiandetails">Guardian List</a></li>
							<li><a href="#student/student_rollno">Roll Number</a></li>
							<li><a href="#studentattendanceimport">Student Attendance Import</a></li>
							<li><a href="#gatepass/create">Student Gate Pass</a></li>
							<li><a href="#student/student_idcard">Student ID Card</a></li>
						</ul>
					</li>
					<!--/student-->

					<!--finance-->
					<li class="">
						<a href="#" class="has-ul active"><i class="icon-cash3"></i><span>Finance</span></a>
						<ul class="hidden-ul" style="display: none;">
							<li>
								<a href="#" class="has-ul">Fees</a>
								<ul class="hidden-ul">
									<li><a href="#feescategory/create">Fee Category</a></li>
									<li><a href="#feessubcategory/create">Fee Sub Category</a></li>
									<li><a href="#feessubcategoryfine/create">Fee Sub Category Fine</a></li>
									<li><a href="#feewaiver/create">Fee Waiver</a></li>
									<li><a href="#feetemplate/create">Fee Template</a></li>
									<li><a href="#feesallocation/create">Fee Allocation</a></li>
									<li><a href="#feesallocation/collection">Fee Collection</a></li>
									<li><a href="#studentinvoice/invoice">Student invoice</a></li>
									<li><a href="#feesallocation/quickpayment">Quick Payment</a></li>
<!--                                                        <li><a href="feesallocation/feeduewithdate"></a></li>-->
									<li><a href="#feesallocation/reports">Reports</a></li>
									<li><a href="#feeallocationimport">Fees Allocation Import</a></li>
									<li><a href="#feeimport">Fees Collection Import</a></li>
								</ul>
							</li>
							<li><a href="#" class="has-ul">Accounting</a>
								<ul class="hidden-ul">
									<li><a href="#accountgroup/create">Account Group</a></li>
									<li><a href="#vouchermaster/create">Voucher Master</a></li>
									<li><a href="#voucherhead/create">Voucher Head</a></li>
									<li><a href="#voucher/create">Create Voucher</a></li>
									<li><a href="#voucher/daybook">Day Book</a></li>
									<li><a href="#voucher/cashaccount">Cash Book</a></li>
									<li><a href="#voucher/bankaccount">Bank Book</a></li>
									<li>
									<a href="#" class="has-ul">Report</a>
									<ul class="hidden-ul">
										<li><a href="#voucher/report">Ledger Account </a></li>
										<li><a href="#voucher/trialbalance">Trial Balance </a></li>
									</ul>
								</li>
								</ul>
							</li>
						</ul>
					</li>
					<!--/finance-->

					<!--library-->
					<li class="">
						<a href="#" class="has-ul active"><i class=" icon-book3"></i><span>Library</span></a>
						<ul class="hidden-ul" style="display: none;">
							<li><a href="#bookcategory/create">Add Category</a></li>
							<li><a href="#librarybooks/create">Add Books</a></li>
							<li><a href="#bookissue/create">Issue Book</a></li>
							<li><a href="#bookissue/requestdetails">Request Details</a></li>
							<li><a href="#bookreturn/create">Book Return</a></li>
							<li><a href="#librarybooks/reports">Reports</a></li>
							<li><a href="#libraryimport">Import</a></li>
						</ul>
					</li>
					<!--/library-->

					<!--transport-->
					<li class="">
						<a href="#" class="has-ul active"><i class="icon-truck"></i><span>Transport</span></a>
						<ul class="hidden-ul" style="display: none;">
							<li><a href="#transportvehicle/create">Add Vehicle</a></li>
							<li><a href="#transportdriver/create">Add Driver</a></li>
							<li><a href="#routemaster/create">Add Route</a></li>
							<li><a href="#routedetails/create">Add Destination</a></li>
							<li><a href="#transportallocation/create">Transport Allocation </a></li>
							<li><a href="#transportfeecollection/create">Fee Collection</a></li>
							<li><a href="#transportallocationimport">Import</a></li>
							<li><a href="#transportfeecollection/smsalert">SMS Alert</a></li>
						<li><a href="#routemaster/reports">Report</a></li>
						</ul>
					</li>
					<!--./transport-->

					<!--hostel-->
					<li class="">
						<a href="#" class="has-ul active"><i class=" icon-home2"></i><span>Hostel</span></a>
						<ul class="hidden-ul" style="display: none;">
							<li><a href="#hosteltype/create">Hostel Details</a></li>
							<li><a href="#hostelroom/create">Hostel Room</a></li>
							<li><a href="#hostelregistration/create">Hostel Allocation</a></li>
							<li><a href="#hostelregistration/requestdetails">Request Details</a></li>
							<li><a href="#hosteltransfer/create">Hostel Transfer/Vacate</a></li>
							<li><a href="#hostelregister/create">Hostel Register</a></li>
							<li><a href="#hostelvisitors/create">Hostel Visitors</a></li>
							<li><a href="#hostelfeecollection/create">Hostel Fee Collection</a></li>
							<li>
								<a href="#" class="has-ul">Reports</a>
								<ul class="hidden-ul">
									<li><a href="#hostelroom/hosteldetailsreport">Hostel Details Report </a></li>
									<li><a href="#hostelroom/availableroomreport">Room Availability Report</a></li>
									<li><a href="#hostelroom/requestreport">Room Request Report</a></li>
									<li><a href="#hostelroom/occupiedreport">Room Occupancy Report</a></li>
									<li><a href="#hostelfeecollection/feereport">Fee Reports</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<!--/hostel-->

					<!--message-->
					<li class="">
						<a href="#" class="has-ul active"><i class="icon-envelope"></i><span>Messages/SMS</span></a>
						<ul class="hidden-ul" style="display: none;">
							<li><a href="email/email">Mailbox</a></li>
							<li><a href="#smssettings/create">SMS Settings</a></li>
							<li><a href="#visitorsmssettings/create">Visitor SMS Settings</a></li>
							<li><a href="#smssettings/admin">Bulk SMS</a></li>
							<li>
								<a href="#" class="has-ul">Email</a>
								<ul class="hidden-ul">
									<li><a href="#emailsettings/create">Email Settings</a></li>
									<li><a href="#emailtemplate/create">Create Template</a></li>
									<li><a href="#sendmail/mail">Send email</a></li>

								</ul>
							</li>
						</ul>
					</li>
					<!--/message-->

					<!--store management-->
					<li class="">
						<a href="#" class="has-ul active"><i class=" icon-list-unordered"></i><span>Store Management</span></a>
						<ul class="hidden-ul" style="display: none;">
							<li><a href="#vendors/create">Vendors</a></li>
							<li><a href="#inventorycategory/create">Inventory Category</a></li>
							<li><a href="#inventoryitem/create">Inventory Item</a></li>
							<li><a href="#purchasereceipts/create">Purchase Receipts</a></li>

							<li><a href="#inventoryissue/create">Inventory Issue</a></li>
							<li><a href="#inventoryitem/stockregister">Stock Register</a></li>
							<li>
						<a href="#" class="has-ul">Reports</a>
						<ul class="hidden-ul">
						<li><a href="#inventoryissue/issuedreport">Issued Report</a></li>
						<li><a href="#inventoryissue/inventoryreports">Inventory Report</a></li>
						</ul>
						</li>
					   </ul>
					</li>
					<!--/store-->

					<!--performance-->
					<li>
						<a href="#" class="has-ul"><i class=" icon-stats-growth"></i><span>Performance</span></a>
						<ul class="hidden-ul" style="">
							<!--<li><a href="employeemaster/adminusers">Admin Users</a></li>-->
							<li><a href="#" class="has-ul">GPA</a>
								<ul class="hidden-ul">
									<li><a href="#setmarklist/studentperformance">Student Performance</a></li>
									<li><a href="#setmarklist/courseperformance">Course Performance</a></li>
									<li><a href="#setmarklist/subjectperformance">Subject Performance</a></li>
								<li><a href="#setmarklist/teacherperformance">Teacher Performance</a></li>
							   </ul>
							</li>
							<li><a href="#" class="has-ul">CCE</a>
								<ul class="hidden-ul">
									<li><a href="#ccemarklist/studentperformance">Student Performance</a></li>
									<li><a href="#ccemarklist/courseperformance">Course Performance</a></li>
									<li><a href="#ccemarklist/subjectperformance"> Subject Performance</a></li>
								 <li><a href="#ccemarklist/teacherperformance">Teacher Performance</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<!--./performance-->

					<!--events-->
					<li class="">
						<a href="#" class="has-ul active"><i class="icon-star-full2"></i><span>Events</span></a>
						<ul class="hidden-ul" style="display: none;">
							<li><a href="#eventtype/create"> Event Types</a></li>
							<li><a href="#event/create"> Add Events</a></li>
							<li><a href="#event/eventreportlist"> Event Reports</a></li>
						</ul>
					</li>
					<!--/events-->

					<!--integrations-->
					<li class="">
						<a href="#" class="has-ul active"><i class=" icon-link2"></i><span>Integration</span></a>
						<ul class="hidden-ul" style="display: none;">
							<!--<li><a href="/index.php/integration/integration/create">Integration</a> </li>-->
							<li><a href="#integration/vehicletracking">Vehicle Tracking</a> </li>
						</ul>
					</li>
					<!--/integration-->

					<!--task-->
					<li class="">
						<a href="#" class="has-ul active"><i class="icon-file-text"></i><span>Task Manager</span></a>
						<ul class="hidden-ul" style="display: none;">
							<li><a href="#taskmanager/create">Assign Task</a></li>
							<li><a href="#taskmanager/admin">Task Details</a></li>
						</ul>
					</li>
					<!--/task-->

					<!--reports-->
					<li>
						<a href="#" class="has-ul"><i class="icon-copy3"></i><span>Reports</span></a>
						<ul class="hidden-ul" style="">
							<li><a href="#student/studentreport">Student Reports</a> </li>
							<li><a href="#student/studentdetailsreport">Student Details</a> </li>
							<li><a href="#subject/electivereport">Elective Reports</a> </li>
							<li><a href="#feesallocation/duereport">Fee Due Reports</a> </li>
							<li><a href="#feesallocation/paidreport">Fee Paid Reports</a> </li>
							<li><a href="#studentabsent/absenteesreport1"> Absentees Reports</a> </li>
							<!--<li><a href="student/classreport"> Class Report</a> </li>-->
							<!--<li><a href="feesallocation/feesconsolidatedreport">Fees Consolidated Report</a></li>-->
						</ul>
					</li>
					<!--/reports-->

					<!--withdraw-->
					<li class="">
						<a href="#" class="has-ul active"><i class=" icon-paperplane"></i><span>Withdrawal</span></a>
						<ul class="hidden-ul" style="display: none;">
							<li><a href="#student/withdrawal">Withdrawal</a> </li>
						</ul>
					</li>
					<!--/withdraw-->

					<!--export-->
					<li>
						<a href="#" class="has-ul"><i class="glyphicon glyphicon-cloud-download"></i><span>Data Export</span></a>
						<ul class="hidden-ul" style="">
							<li><a href="#dataexport">Export</a> </li>
						</ul>
					</li>
					<!--/export-->
				</ul>
			</div>
		</div>
		<!-- /main navigation -->

	</div>
</div>