{% extends "dashboard/base.html" %}
{% load staticfiles i18n %}

{% load render_bundle from webpack_loader %}

{% block title %}
    Add Users
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'users:user-list' %}">Users</a></li>
    <li class="active"><a href="{% url 'users:user-create' %}">Add User</a></li>
{% endblock %}

{% block menu_users_class %}active{% endblock %}

<!--custom css-->
{% block custom_css %}
    <link href="{% static 'css/extras/jasny_bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/extras/animate.min.css' %}" rel="stylesheet" type="text/css">
    <style type="text/css">label.error{color: #FF5722;}</style>
{% endblock %}
<!--/custom css-->

{% block content %}
<div class="row animated fadeIn">
 <div class="col-md-12">
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h6 class="panel-title">Create User Details</h6>
        <div class="heading-elements">
          <ul class="icons-list">
            <li><a data-action="collapse"></a></li>
            <li><a data-action="reload"></a></li>
            <li><a data-action="close"></a></li>
          </ul>
        </div>
        <a class="heading-elements-toggle"><i class="icon-more"></i></a>
      </div>

      <div class="panel-body">
        <div class="tabbable">
          <ul class="nav nav-tabs nav-tabs-highlight">
            <li class="active" id="profile-tab">
                <a href="#profile" data-toggle="tab" class="legitRipple" aria-expanded="false">
                    add user profile
                </a>
            </li>
            <li class="" id="permissions-tab">
                <a href="#permissions" data-toggle="tab" class="legitRipple" aria-expanded="true">
                    add user permissions
                </a>
            </li>

          </ul>

          <div class="tab-content">
            <!--tab-pane 1-->
            <div class="tab-pane animated fadeIn active" id="profile">
              <form class="form" enctype="multipart/form-data" id="user-details" name="user-details">
                {% csrf_token %}
                  <div class="row">
                    <div class="col-md-4">
                    <label for="exampleInputEmail1">User Image</label>
                      <div class="form-group">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                          <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                            <img data-src="/static/images/users/default.png" alt="..." src="/static/images/users/default.png">
                          </div>
                          <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                          <div style="text-align: center;">
                            <span class="btn btn-warning btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="image" id="image"></span>
                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                          </div>
                        </div>
                      </div>

                        <div class="col-md-10">
                          <div class="form-group">
                            <label for="exampleInputPassword1">Select Permissions Group:</label>
                            <div class="multi-select-full">
                              <select class="multiselect-full-featured" multiple="multiple" style="display: none;" name="group" id="multiple" placeholder="select a group...">
                              {% if groups %}
                                {% for group in groups %}
                                   <option value="{{group.name}}"> 
                                     {{ group.name }}
                                   </option>
                                {% endfor %}
                              {% endif %}
                              </select>
                            </div>
                            <label id="group_name_error" class="select-error" for="user_select"></label>
                           </div>

                            <div class="form-group">
                                <label class="display-block text-semibold">Staff Type</label>
                                <label class="radio-inline">
                                    <input type="radio" name="staff-radio" class="styled" value="true">
                                    Teaching
                                </label>

                                <label class="radio-inline">
                                    <input type="radio" name="staff-radio" class="styled" checked="checked" value="false">
                                    Non-Teaching
                                </label>
                            </div>

                        </div>



                    </div>
                    <div class="col-md-8">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="name">Full Names</label>
                            <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Full Names">
                          </div>
                          <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                          </div>
                          <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                           </div>
                           <div class="form-group">
                            <label for="exampleInputPassword1">National ID No:</label>
                            <input type="text" class="form-control" name="nid" id="nid" placeholder="Id No">
                           </div>
                        </div>

                        <div class="col-md-6">
                           <div class="form-group">
                              <label for="email">Email address</label>
                              <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                           </div>
                           <div class="form-group">
                            <label for="mobile">Phone</label>
                            <input type="text" data-mask="(+254)-999-999-999" class="form-control" name="mobile" id="mobile" placeholder="Mobile">
                           </div>
                           <div class="form-group">
                            <label for="confirm_password">Confirm Password</label>
                            <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
                           </div>
                           <div class="form-group">
                              <label for="email">Job Title</label>
                              <input type="text" class="form-control" name="job_title" id="id_job_title" placeholder="Job title (e.g Cashier)">
                           </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                     <div class="pull-right" style="margin-top:40px;">
                      <a href="{% url 'users:user-list' %}" class="btn btn-default waves-effect waves-light">Cancel</a>
                      <button class="btn btn-primary waves-effect waves-light" id="submit" type="submit">Create User <i class="icon-arrow-right14 position-right"></i></button>
                     </div>
                    </div>
                  </div>
                </form>
            </div>
            <!--/tab-pane 1 -->
            <!--tab-pane 2 -->
            <div class="tab-pane animated fadeIn" id="permissions">
              
                <p class="content-group">Define user permissions by ticking on particular access options. User : <input class="user_id" type="hidden" name="user_id" value=""></p>
                <p> 
                  <label class="display-block text-semibold">System Permission Default</label>
                  <div class="checkbox">
                    <label>
                      <input class="styled checks" id="can-login" type="checkbox" value="active">
                      can login
                    </label>
                    <span class="granted text-success"></span>
                  </div>
                </p>
                <p>
                  <div class="checkbox">
                    <label>
                      <div class="checker"><input class="styled" type="checkbox" id="checkAll"></div>
                      select all
                    </label>
                  </div>
                </p>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                    {% for permission in permissions %}
                       {% if permission.content_type.model ==  'unused' %}
                          <div class="checkbox">
                            <label>
                              <input class="styled check" type="checkbox" value="{{permission.id}}">
                              {{permission.name}}
                            </label>
                            <span class="granted text-success"></span>
                          </div>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                </div>
            <!-- user -->
            <div class="row">
                 <div class="col-md-12">
                 <h5>User Management</h5>
                 </div>
                <div class="col-md-3">
                    <div class="form-group">
                      <label class="display-block text-semibold">Users</label>
                      {% for permission in permissions %}
                       {% if permission.content_type.model ==  'user' %}
                          <div class="checkbox">
                            <label>
                              <input class="styled check" type="checkbox" value="{{permission.id}}">
                              {{permission.name}}
                            </label>
                            <span class="granted text-success"></span>
                          </div>
                        {% endif %}
                        {% if permission.content_type.model ==  'usertrail' %}
                          <div class="checkbox">
                            <label>
                              <input class="styled check" type="checkbox" value="{{permission.id}}">
                              {{permission.name}}
                            </label>
                            <span class="granted text-success"></span>
                          </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="display-block text-semibold">Groups</label>
                      {% for permission in permissions%}
                       {% if permission.content_type.model ==  'group' %}
                          <div class="checkbox">
                            <label>
                              <input class="styled check" type="checkbox" value="{{permission.id}}">
                              {{permission.name}}
                            </label>
                            <span class="granted text-success"></span>
                          </div>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>
            </div>
            <!-- end user -->
            <!-- academics -->
                <div class="row">
                    <div class="col-md-12">
                      <h5>Academics</h5>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                          <label class="display-block text-semibold">Academic Year</label>
                          {% for permission in permissions %}
                           {% if permission.content_type.model ==  'academicyear' %}
                              <div class="checkbox">
                                <label>
                                  <input class="styled check" type="checkbox" value="{{permission.id}}">
                                  {{permission.name}}
                                </label>
                                <span class="granted text-success"></span>
                              </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="display-block text-semibold">Classes</label>
                          {% for permission in permissions%}
                           {% if permission.content_type.model ==  'class' %}
                              <div class="checkbox">
                                <label>
                                  <input class="styled check" type="checkbox" value="{{permission.id}}">
                                  {{permission.name}}
                                </label>
                                <span class="granted text-success"></span>
                              </div>
                            {% else %}
                            {% endif %}
                            {% endfor %}
                        </div>
                      </div>
                      <div class="col-md-3">
                            <div class="form-group">
                              <label class="display-block text-semibold">Streams</label>
                              {% for permission in permissions%}
                               {% if permission.content_type.model ==  'stream' %}
                                  <div class="checkbox">
                                    <label>
                                      <input class="styled check" type="checkbox" value="{{permission.id}}">
                                      {{permission.name}}
                                    </label>
                                    <span class="granted text-success"></span>
                                  </div>
                                {% else %}
                                {% endif %}
                                {% endfor %}
                        </div>
                      </div>
                </div>
            <!-- end academics -->
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary" id="permission-btn">Submit Permissions</button>
              </div>
            </div>
           </div>
           <!--tab-pane 2 -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- form urls -->
<input type="hidden" id="process-create" value="{% url 'users:user-process-create' %}">
<input type="hidden" id="user-assign-permissions" value="{% url 'users:user-assign-permission' %}">
<input type="hidden" id="user-list" value="{% url 'users:user-list' %}">
<input type="hidden" id="csrftoken" value="{{ csrf_token }}">
<!-- /form urls -->
{% endblock%}
{% render_bundle 'users' 'js' %}

<!-- custom JS files -->
{% block custom_js %}
  <script type="text/javascript" src="{% static 'js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/pages/form_multiselect.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/plugins/forms/styling/uniform.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/pages/form_inputs.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/core/libraries/jasny_bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/core/libraries/jquery.validate.min.js' %} "></script>
  <script type="text/javascript" src="{% static 'js/plugins/notifications/jgrowl.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/users/add_user.js' %}"></script>
<!-- /custom JS files -->
{% endblock %}