<!DOCTYPE html>
{% load static i18n %}
{% load render_bundle from webpack_loader %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
      {% block title %}
        {% trans "Dashboard - Glosoft" context "Dashboard default page title" %}
      {% endblock %}
    </title>

    <!--meta block-->
    <meta id="token" name="token" value="{{ csrf_token }}">
    {% block meta %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    {% endblock meta %}
    <!--./meta-->
    <link href="{% static 'css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/icons/fontawesome/styles.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/core.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/components.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/colors.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/extras/ladda.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!--custom css-->
     {% block custom_css %}
     {% endblock %}
    <!--./custom -->


    <!-- Core JS files -->
    <script type="text/javascript" src="{% static 'js/plugins/loaders/pace.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/core/libraries/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/vue/axios.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/core/libraries/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/loaders/blockui.min.js' %}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="{% static 'js/plugins/printThis/printThis.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/core/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/ui/ripple.min.js' %}"></script>
    <!-- /theme JS files -->

</head>
<body class="navbar-top pace-done {% block body_class %}{% endblock %}">

	<!-- Main navbar -->
     {% include "dashboard/partials/main_navbar.html" %}
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<!--{ include "dashboard/partials/main_sidebar.html" %}-->
            <div class="sidebar sidebar-main">
                <div class="sidebar-content">

                    <!-- Main navigation -->
                    <div class="sidebar-category sidebar-category-visible">
                        <div class="category-content no-padding">
                            <ul class="navigation navigation-main navigation-accordion">
                                <!-- Main -->
                                <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                                <li class=""><a href="#"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                                <!--/main-->

                                <!-- users -->
                                {% if perms.user.view_user or perms.user.view_group or perms.user.view_usertrail %}
                                <li>
                                  <a href="javascript:;">
                                    <i class="icon-users"></i>
                                    <span>System Users</span>
                                  </a>
                                  <ul>
                                    {% if perms.user.view_user %}
                                    <li class="{% block menu_users_class %}{% endblock %}">
                                      <a href="{% url 'users:user-list' %}"><i class='icon-users2'></i>Users</a>
                                    </li>
                                    {% endif %}
                                    {% if perms.user.view_group %}
                                    <li class="{% block menu_perm_class %}{% endblock %}">
                                      <a href="{% url 'users:groups' %}"><i class='icon-users4'></i>Groups</a>
                                    </li>
                                    {% endif %}
                                    {% if perms.user.view_usertrail %}
                                    <li class="{% block menu_trail_class %}{% endblock %}">
                                      <a href="{% url 'users:user_trail' %}"><i class='icon-history'></i>User Trail</a>
                                    </li>
                                    {% endif %}
                                  </ul>
                                </li>
                                {% endif %}
                                <!-- ./users -->

                                <!--settings-->
                                <li>
                                  <a href="javascript:;">
                                    <i class="icon-cogs"></i>
                                    <span>Settings</span>
                                  </a>
                                    <ul>
                                        <li class="{% block menu_settings_class %}{% endblock %}">
                                          <a href="{% url 'site:index' %}">Institution Settings</a>
                                        </li>
                                        <li class="{% block menu_settings_year %}{% endblock %}">
                                          <a href="{% url 'academic_year:index' %}"> Academic Year</a>
                                        </li>
                                        <li class="{% block menu_term %}{% endblock %}">
                                          <a href="{% url 'term:index' %}"> Term</a>
                                        </li>
                                    </ul>
                                </li>
                                <!--./settings-->
    
                                <!--academics-->
                                {% if perms.stream.view_stream or perms.classes.view_class %}
                                <li class="">
                                    <a href="#" class="has-ul"><i class="icon-menu2"></i><span>Academics</span></a>
                                    <ul>
                                        <li class="">
                                            <a href="#" class="has-ul">Classrooms &amp; Batch</a>
                                            <ul style="display: none;">
                                                <li class="{% block menu_room %}{% endblock %}">
                                                    <a href="{% url 'room:index' %}" class="active"><i class='icon-home7'></i> Rooms</a></li>
                                                <li><a href="{% url 'stream:index' %}"><i class='icon-list-numbered'></i> Stream</a></li>
                                            </ul>
                                        </li>
                                        {% if perms.stream.view_stream %}
                                        </li>
                                          <li class="{% block menu_stream_class %}{% endblock %}">
                                          <a href="{% url 'stream:index' %}"><i class='icon-list-numbered'></i> Stream</a>
                                        </li>
                                        </li>
                                        {% endif %}
                                        {% if perms.classes.view_class %}
                                        <li class="{% block menu_classes_class %}{% endblock %}">
                                          <a href="{% url 'classes:index' %}"><i class='icon-list'></i> Classes</a>
                                        </li>
                                        {% endif %}
                                        {% if perms.subject.view_subject %}
                                        <li class="{% block menu_subject_class %}{% endblock %}">
                                          <a href="{% url 'subject:index' %}"><i class='icon-list2'></i> Subjects</a>
                                        </li>
                                        {% endif %}
                                        {% if perms.curriculum.view_curriculum %}
                                        <li class="{% block menu_curriculum_class %}{% endblock %}">
                                          <a href="{% url 'curriculum:index' %}"><i class='icon-clipboard5'></i>Curriculum</a>
                                        </li>
                                        {% endif %}

                                    </ul>
                                </li>
                                {% endif %}
                                <!--/academics -->

                                <!--workload-->
                                {% if perms.class_allocation.view_classallocation %}
                                <li class="">
                                    <a href="#" class="has-ul"><i class="icon-menu2"></i><span>Workload</span></a>
                                    <ul>
                                        {% if perms.class_allocation.view_classallocation %}
                                        <li class="{% block menu_class_allocation_class %}{% endblock %}">
                                          <a href="{% url 'class_allocation:index' %}"><i class='icon-clipboard5'></i>Class Allocation</a>
                                        </li>
                                        {% endif %}

                                    </ul>
                                </li>
                                {% endif %}
                                <!--/workload -->

                                <!--exams-->
                                {% if perms.configuration.view_examconfiguration %}
                                <li class="">
                                    <a href="#" class="has-ul"><i class="icon-menu2"></i><span>Exams</span></a>
                                    <ul>
                                        {% if perms.configuration.view_examconfiguration %}
                                        <li class="{% block menu_exam_configuration_class %}{% endblock %}">
                                            <a href="{% url 'exam_configuration:index' %}">
                                                <i class='icon-clipboard5'></i>
                                                Exam Configuration
                                            </a>
                                        </li>
                                        {% endif %}

                                        <li class="{% block menu_marks_allocation_class %}{% endblock %}">
                                            <a href="{% url 'marks_allocation:add' %}">
                                                <i class='icon-clipboard5'></i>
                                                Marks Allocation
                                            </a>
                                        </li>
                                        <li class="{% block menu_exam_type %}{% endblock %}">
                                            <a href="{% url 'exam_type:index' %}">
                                                <i class='icon-clipboard5'></i>
                                                Exam Type
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                                {% endif %}
                                <!--/exams -->

                                <!--student-->
                                <li>
                                  <a href="javascript:;">
                                    <i class="icon-user"></i>
                                    <span>Student Management</span>
                                  </a>
                                    <ul>
                                        <li class="{% block menu_student %}{% endblock %}">
                                          <a href="{% url 'student:index' %}">Students Admission</a>
                                        </li>
                                        <li class="hidden {% block attendance_student %}{% endblock %}">
                                          <a href="{% url 'attendance:index' %}">Attendance</a>
                                        </li>
                                        <li class="{% block house_student %}{% endblock %}">
                                          <a href="{% url 'house:index' %}">House</a>
                                        </li>
                                    </ul>
                                </li>
                                <!--./student-->

                                <!--finance-->
                                <li>
                                  <a href="javascript:;">
                                    <i class="icon-user"></i>
                                    <span>Finance Management</span>
                                  </a>
                                 <ul>
                                    <li class="{% block menu_finance_fee %}{% endblock %}">
                                      <a href="{% url 'fee:index' %}">Fee Structure</a>
                                    </li>
                                    <li class="{% block menu_finance_item %}{% endblock %}">
                                      <a href="{% url 'finance_item:index' %}">Fee Item</a>
                                    </li>
                                 </ul>
                                </li>
                                <!--/finance-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">

                    <!--breadcrumb-->
                    <div class="breadcrumb-line fix-breadcrumb" style="position: fixed;width: 100%;top:50px;z-index:2">
                        <ul class="breadcrumb">
                           <li><a href="#"><span class="icon-home">

                           <span data-popup="tooltip" tite='Edit product' data-placement="bottom" data-original-title="Back to dashboard"> Home</span></a></li>
                           {% block breadcrumbs %}
                          <li class="active">{% trans "Home" context "Dashboard homepage" %}</li>
                           {% endblock %}
                        </ul>
                        <ul class="breadcrumb-elements">
                          {% block header_extra %}
                          {% endblock %}
                        </ul>
                        <!--  -->
                      <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                    </div>
                    <!--/breadcrumb-->
				<!-- Content area -->
				<div class="content" style="padding: 60px 20px 60px;">

					{% block content %}{% endblock %}
					<!-- Footer -->
					<div class="footer text-muted">
						&copy; 2018. <a href="#">Glosoft Group</a>
					</div>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->
    <script type="text/javascript" src="{% static 'js/plugins/ui/moment/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/notifications/jgrowl.min.js' %}"></script>

    {% block custom_js %}
    {% endblock %}
</body>
</html>