{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}
    {% if object.id %}
        Edit Curriculum
    {% else %}
       Add Curriculum
    {% endif %}
{% endblock %}

 {% block breadcrumbs %}
     <li class="active"><a href="{% url 'curriculum:index' %}" >curriculum</a></li>
    {% if object.id %}
        <li class="active"><a href="{% url 'curriculum:update' pk=object.id %}" >update {{object.subject.name}}</a></li>
    {% else %}
       <li class="active"><a href="{% url 'curriculum:add' %}" >add curriculum</a></li>
    {% endif %}
 {% endblock %}


{% block menu_curriculum_class %}active{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
<link rel="stylesheet" href="{% static 'js/plugins/react/react-datepicker.min.css">
{% endblock %}
{% block content %}

<div class="panel panel-flat animated fadeIn" id="vue-app">
    <div class="panel-body">
        <div class="row">
           <form enc-type="multipart/form-data" id="addForm">
               {% csrf_token %}
              <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                            <label class="text-bold">Subject Name:<span class="text-danger">*</span></label>
                                <select name="subject" id="subject" class="bootstrap-select" style="display:none">
                                    <option value="">select subject</option>
                                    {% if object.subject.name %}
                                    <option value="{{object.subject.id}}" selected>{{object.subject.name}}</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="col-md-4">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="text-bold">Topic:<span class="text-danger">*</span></label>
                                <input value="{% if object.topic %} {{object.topic}} {% endif %}"
                                       class="form-control" name="topic" id="topic" placeholder="Topic" type="text"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="text-bold">Sub-Topic:<span class="text-danger">*</span></label>
                                <input value="{% if object.subtopic %} {{object.subtopic}} {% endif %}"
                                       class="form-control" name="subtopic" id="subtopic" placeholder="Sub-Topic" type="text"/>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                <div class="col-md-12">
                   <div class="col-md-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="text-bold">Period<span class="text-danger">*</span></label>
                                    <input value="{% if object.period %} {{object.period}} {% endif %}"
                                           class="form-control" name="period" id="period" placeholder="Period" type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="text-bold">Objective:<span class="text-danger">*</span></label>
                                    <input value="{% if object.objective %} {{object.objective}} {% endif %}" class="form-control" name="objective" id="objective" placeholder="Objective" type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                <label class="text-bold">Competencies:<span class="text-danger">*</span></label>
                                <input value="{% if object.competencies %} {{object.competencies}} {% endif %}" class="form-control" name="competencies" id="competencies" placeholder="Competencies" type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="col-md-12">
                   <div class="col-md-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                <label class="text-bold">Values:<span class="text-danger">*</span></label>
                                <input value="{% if object.values %} {{object.values}} {% endif %}" class="form-control" name="values" id="values" placeholder="Values" type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>

                <div class="text-left col-md-12">
                    <button id="add-room-btn" type="submit" class="btn btn-primary legitRipple">
                        {% if object.id %} Update {% else %} Add {% endif %}
                        <i class="icon-arrow-right14 position-right"></i>
                    </button>
                </div>
              </form>
        </div>
    </div>
</div>

{% if object.id %}
    <input type="hidden" id="postUrl" value="{% url 'curriculum:api-update' pk=object.pk %}">
    <input type="hidden" id="postMethod" value="PUT">
    <input type="hidden" id="pk" value="{{object.pk}}">
{% else %}
    <input type="hidden" id="postUrl" value="{% url 'curriculum:api-create' %}">
    <input type="hidden" id="postMethod" value="POST">
    <input type="hidden" id="pk" value="none">
{% endif %}

<!-- to populate select elements -->
<input type="hidden" id="redirectUrl" value="{% url 'curriculum:index' %}">
<input type="hidden" id="subjectUrl" value="{% url 'subject:api-list' %}">
<input type="hidden" id="csrftoken" value="{{ csrf_token }}">
{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="{% static 'js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/core/libraries/jquery.validate.min.js' %} "></script>
<script type="text/javascript" src="{% static 'js/academics/curriculum/add.js' %}"></script>
{% endblock %}