/* ---- react-toastify css attributes ---- */
[data-css-1dbhh97], [data-css-lj0up9], [data-css-1imjg0i], [data-css-1qmczst] {
    border-radius: 5px !important;
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding: 20px !important;
}