{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}
{% if not object.id %}
Add student
{% else %}
Edit {{object.first_name}} details - Student
{% endif %}
{% endblock %}

{% block breadcrumbs %}
<li class=""><a href="{% url 'student:index' %}">Student</a></li>
<li class="active">{{form.first_name.value}}</li>
{% endblock %}


{% block menu_student %}active{% endblock %}

{% block custom_css %}
<link href="{% static 'js/plugins/vue/material-css.css' %}" rel="stylesheet">
<link href="{% static 'js/plugins/vue/vuetify.min.css' %}" rel="stylesheet">
{% render_bundle 'student' 'css' %}
{% endblock %}
{% block content %}
<!--room details-->

<div class="panel panel-flat animated fadeIn" style="width: 100%;" id="vueapp">
    <div class="panel-body">
        <div class="row">
            {% csrf_token %}
            <div class="col-md-12">
                <div id="app"></div>
            </div>
        </div>
    </div>
    
</div>
<!--./room details-->
{% endblock %}

{% block custom_js %}

<script>
    var csrfmiddlewaretoken  = jQuery("[name=csrfmiddlewaretoken]").val();
    var dynamicData = {};
    var updateUrl = null;
    var updateOfficialDetailsUrl = null;
    var getOfficialDetailsUrl = null;
    
    var getAcademicYearsUrl = "{% url 'academic_year:api-list' %}";
    var getCourseUrl = "{% url 'classes:api-list' %}";
    var getStreamUrl = "{% url 'stream:api-list' %}";
    var createOfficialDetailsUrl = "{% url 'student:api-create-official' %}";
    

    {% if object.id %}
    var pk = "{{object.id}}";
    updateUrl = "{% url 'student:api-update' pk=object.id %}";
    updateOfficialDetailsUrl = "{% url 'student:api-update-official' pk=object.id %}";
    getOfficialDetailsUrl = "{% url 'student:api-list-official' pk=object.id %}";
    {% else %}
    var pk= false;
    {% endif %}
    var createUrl = "{% url 'student:api-create' %}";
    var redirectUrl = "{% url 'student:index' %}";
    // alertUser
    function alertUser(msg,status='bg-success', header='Well done!')
    { $.jGrowl(msg,{header: header,theme: status}); }

</script>
{% render_bundle 'student' 'js' %}
{% endblock %}