.panel-body{
    .live-preview {
        box-shadow: 0.055rem 0.055rem 1.11rem rgba(20, 20, 20, 0.27);
    }
}

.image-container{
    background: #fff;
    border-color: #aaa;
    color: black;
    border-radius: 5px 5px 0 0;
}
.image-container{
    img{
        width: 120px;
    }
}