{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}
    {% if object.id %}
        Edit Exam Configuration
    {% else %}
       Add Exam Configuration
    {% endif %}
{% endblock %}

 {% block breadcrumbs %}
     <li class="active"><a href="{% url 'exam_configuration:index' %}" >Exam Configuration</a></li>
    {% if object.id %}
        <li class="active"><a href="{% url 'exam_configuration:update' pk=object.id %}" >Update {{object.subject.name}}</a></li>
    {% else %}
       <li class="active"><a href="{% url 'exam_configuration:add' %}" >Add</a></li>
    {% endif %}
 {% endblock %}


{% block menu_exam_configuration_class %}active{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
<link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
<link rel="stylesheet" href="{% static 'js/plugins/react/react-datepicker.min.css">
<style>
    fieldset.scheduler-border {
        border: 1px groove #efefef !important;
        border-radius:5px;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #000;
                box-shadow:  0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }

   .select2-container{
        border-bottom: 1px solid #ddd !important;
    }
    .select2-container--focus{
        border-bottom: 1px solid #26A96A !important;
    }
</style>
{% endblock %}
{% block content %}

<div class="panel panel-flat animated fadeIn" id="vue-app">
    <div class="panel-body">
        <div class="row">
            <div id="app-root"></div>
        </div>
    </div>
</div>


<input type="hidden" id="subjectPk" value="{{object.subject.pk}}">
<input type="hidden" id="subjectStatus" value="false">
{% if object.id %}
<input type="hidden" id="postUrl" value="{% url 'curriculum:api-update' pk=object.pk %}">
    <input type="hidden" id="postMethod" value="PUT">
    <input type="hidden" id="pk" value="{{object.pk}}">
{% else %}
    <input type="hidden" id="postUrl" value="{% url 'curriculum:api-create' %}">
    <input type="hidden" id="postMethod" value="POST">
    <input type="hidden" id="pk" value="none">
{% endif %}

<!-- to populate select elements -->
<input type="hidden" id="redirectUrl" value="{% url 'curriculum:index' %}">
<input type="hidden" id="subjectUrl" value="{% url 'subject:api-list' %}">
<input type="hidden" id="csrftoken" value="{{ csrf_token }}">

{% include "exam_configuration/modals/subject_modal.html" %}
{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="{% static 'js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'js/plugins/forms/selects/select2.min.js' %}"></script>-->
<script type="text/javascript" src="{% static 'js/core/libraries/jquery.validate.min.js' %} "></script>
<script type="text/javascript" src="{% static 'js/plugins/forms/styling/uniform.min.js' %}"></script>
{% render_bundle 'configuration' 'js' %}
<script>
        $(".styled, .multiselect-container input").uniform({
            radioClass: 'choice'
        });

        $(".control-info").uniform({
            radioClass: 'choice',
            wrapperClass: 'border-white text-white'
        });

        $(".control-percentage").uniform({
            radioClass: 'choice',
            wrapperClass: 'border-warning-600 text-warning-800'
        });


</script>
{% endblock %}